<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <!-- =========================================================== -->
    <!--            EBI PUB with thin oracle driver (local machines) -->
    <!-- =========================================================== -->
    <profiles>
        <profile>
            <id>ip-solr-indexing-hx</id>
            <properties>
                <solr.server>http://solr-service:8983/solr</solr.server>
                <style.full.index>true</style.full.index>
                <finalName>${project.artifactId}</finalName>
            </properties>
        </profile>
        <profile>
            <id>dev-config</id>
            <properties>
                <vm.1.url>http://hh-rke-wp-webadmin-68-worker-1.caas.ebi.ac.uk:31235</vm.1.url>
                <vm.2.url>http://hh-rke-wp-webadmin-68-worker-2.caas.ebi.ac.uk:31235</vm.2.url>
                <vm.3.url>http://hh-rke-wp-webadmin-68-worker-3.caas.ebi.ac.uk:31235</vm.3.url>
                <vm.urls>${vm.1.url},${vm.2.url},${vm.3.url}</vm.urls>
                <ws.url>https://wwwdev.ebi.ac.uk/intact/test/ws/interaction</ws.url>
            </properties>
        </profile>
        <profile>
            <id>prod-config</id>
            <properties>
                <vm.1.url>http://hh-rke-wp-webadmin-24-worker-1.caas.ebi.ac.uk:31247</vm.1.url>
                <vm.2.url>http://hh-rke-wp-webadmin-24-worker-2.caas.ebi.ac.uk:31247</vm.2.url>
                <vm.3.url>http://hh-rke-wp-webadmin-24-worker-3.caas.ebi.ac.uk:31247</vm.3.url>
                <vm.4.url>http://hx-rke-wp-webadmin-24-worker-1.caas.ebi.ac.uk:31247</vm.4.url>
                <vm.5.url>http://hx-rke-wp-webadmin-24-worker-2.caas.ebi.ac.uk:31247</vm.5.url>
                <vm.6.url>http://hx-rke-wp-webadmin-24-worker-3.caas.ebi.ac.uk:31247</vm.6.url>
                <vm.urls>${vm.1.url},${vm.2.url},${vm.3.url},${vm.4.url},${vm.5.url},${vm.6.url}</vm.urls>
                <ws.url>https://www.ebi.ac.uk/intact/ws/interaction</ws.url>
            </properties>
        </profile>
    </profiles>
</settings>